button {
    border: none;
    background-color: rgb(200, 240, 240);
    border-radius: 10px;
    color: rgb(1, 42, 42);
    width: 100px;
    height: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
